<%= form_tag(results_url, :method => "get") do %>
  <div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="h-50 w-50 d-flex flex-column align-items-center">
      <img width="500" height="100" src="infocourse-logos_black.png"/>
      <%= search_field_tag :query, params[:query], placeholder: "search courses", class: "w-75 form-control form-input mt-3"%>
      <%= submit_tag "Search", class: "btn btn-outline-secondary mt-3" ,name: nil%>
    </div>
  </div>
<% end %>
